
    {% include 'header.html' %}



    <br/>
    <a href="{{url_for('crear')}}" class="btn btn-success">
        Ingresar Nuevo
    </a>
    <br>
    <br>
    
    <link rel="stylesheet" href="style.css">

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Serie</th>
                <th>PrecioUnitario</th>
                <th>cantidad</th>
                <th>CostoTotal</th>
                <th>CodigoProducto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for repuestos_1 in repuestos %}
                
            
            <tr>
                <td>{{repuestos_1[0]}}</td>
                <td>{{repuestos_1[1]}}</td>
                <td>{{repuestos_1[2]}}</td>
                <td>{{repuestos_1[3]}}</td>
                <td>{{repuestos_1[4]}}</td>
                <td>{{repuestos_1[5]}}</td>
                <td>{{repuestos_1[6]}}</td>
                <td>{{repuestos_1[7]}}</td>
                <td><a class="btn btn-warning" href="/edit/{{repuestos_1[0]}}"> Editar</a>
                     | 
                    <a onclick="return confirm('¿Está seguro de eliminar este ítem?')" class="btn btn-danger" href="/destroy/{{repuestos_1[0]}}">Eliminar</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}
